img {
  width: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-center1 {
  text-align: center;
}

.text-light1 {
  color: #f8f9fa;
}

.display-31 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-41 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.mb-41 {
  margin-bottom: 1.5rem;
}

.mb-21 {
  margin-bottom: 0.5rem;
}

.lead1 {
  font-size: 1.25rem;
  font-weight: 300;
}

.bg-dark1 {
  background-color: #343a40;
}

.nav-link1 {
  color: rgba(255, 255, 255, 0.5);
}

.nav-link1:link {
  text-decoration: none;
}

.submit-btn {
  width: 100%;
}

.app {
  background-color: #fff;
}

.content {
  width: 1024px;
  margin: 24px auto;
}
