img {
  width: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.text-center1 {
  text-align: center;
}

.text-light1 {
  color: #f8f9fa;
}
