.top {
  text-align: center;
}

.header {
  margin-top: 50px;
}

.header a {
  text-decoration: none;
}

.logo {
  height: 44px;
}

.title {
  font-size: 33px;
  /* color: @heading-color; */
  font-family: "Myriad Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.desc {
  /* font-size: @font-size-base; */
  /* color: @text-color-secondary; */
  margin-top: 12px;
  margin-bottom: 30px;
}

.container {
  height: 100vh;
  overflow: auto;
  /* background: @layout-body-background; */
}

.content {
  margin: auto;
  width: 380px;
}
