.title {
  font-size: 12px;
  color: #54617a;
  opacity: 0.5;
}

.number {
  font-size: 24px;
  color: #242e42;
}

.dot {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.red {
  background: linear-gradient(45deg, #e21f70 0%, #ff4d2c 100%);
}

.grey {
  background: #cfd9df;
}
