.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.sider {
  background: linear-gradient(180deg, #1a263b 0%, #242e42 100%);
}

.menu {
  background: linear-gradient(180deg, #1a263b 0%, #242e42 100%);
}

.sider :global(.ant-layout-sider-trigger) {
  background: linear-gradient(180deg, #1a263b 0%, #242e42 100%);
}
