.card {
  background-color: #f8f9fa;
}

.description {
  font-size: 1.1rem;
  color: #212529;
}

.list-item-wrapper {
  margin: 0 !important;
  padding-top: 0.85rem !important;
  padding-bottom: 0.85rem !important;
}
