.header {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.container a {
  text-decoration: none;
}

.logo {
  height: 44px;
  margin-right: 8px;
}

.title {
  font-size: 33px;
  font-family: "Myriad Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.desc {
  margin-top: 12px;
  margin-bottom: 30px;
}

.container {
  height: 100vh;
  overflow: auto;
}

.content {
  margin: auto;
  width: 380px;
}

.link-color {
  color: #17a2b8;
}

.link-color:hover {
  color: #17a2b8;
  box-shadow: 0 0 20px 0 rgba(215, 222, 227, 0.39);
}
